<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/new-item']">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<canvas id="myCanvas"></canvas>
<ion-content padding>
  <div class="wrapper">    
</div>
  <!-- <canvas #myCanvas id="renderCanvas" style="width: 500px;height: 500px;"></canvas> -->
   <!-- <ion-list> -->
    <!-- <ion-item *ngFor="let item of items" [routerLink]="['/update-item', item.id]">
      <ion-label>
        {{ item.title }}
      </ion-label>
    </ion-item>
    <canvas #myCanvas id="renderCanvas" style="width: 500px;height: 500px;">
      

    </canvas>     -->
</ion-content>
